---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Jamdotjar's blog</h1>
			<h6><i>I finally made myself a blog, now all I have to do is post.</i></h6>
			<p>It's probably clear that this site in under pretty heavy construction, as despite blogging frequently for school, I haven't had a ton of time to make a personal site. This version is like a first draft, so I'll be messing around with all the bits and peices to try and make it reflect me, my ideas, words, and anything else I manage to shove into this site.</p>
			<p>
				Anyways, feel free to click around this very scuffed site if you want, I'm sure you wont find anything too broken. Hopefully. 
			</p>

		</main>
		<Footer />
	</body>
</html>
